button {
  font-size: 16px;
  border: 1px solid black;
  background: blue;
  padding: 6px 12px;
  color: white; }
  button:hover {
    background-color: black; }

.btn-red {
  background-color: #f00;
  border-color: #f00;
  color: #fff; }
  .btn-red:hover {
    background-color: #b30000;
    border-color: maroon;
    color: #fff; }

.btn-green {
  background-color: #0f0;
  border-color: #0f0;
  color: #000; }
  .btn-green:hover {
    background-color: #00b300;
    border-color: green;
    color: #fff; }

.btn-blue {
  background-color: #00f;
  border-color: #00f;
  color: #fff; }
  .btn-blue:hover {
    background-color: #0000b3;
    border-color: navy;
    color: #fff; }

.btn-light {
  background-color: #eee;
  border-color: #eee;
  color: #000; }
  .btn-light:hover {
    background-color: #c8c8c8;
    border-color: #aeaeae;
    color: #000; }

.btn-dark {
  background-color: #333;
  border-color: #333;
  color: #fff; }
  .btn-dark:hover {
    background-color: #0d0d0d;
    border-color: black;
    color: #fff; }

.btn-yellow {
  background-color: #ff0;
  border-color: #ff0;
  color: #000; }
  .btn-yellow:hover {
    background-color: #b3b300;
    border-color: olive;
    color: #fff; }

.btn-pink {
  background-color: fuchsia;
  border-color: fuchsia;
  color: #fff; }
  .btn-pink:hover {
    background-color: #b300b3;
    border-color: purple;
    color: #fff; }

.btn-black {
  background-color: #000;
  border-color: #000;
  color: #fff; }
  .btn-black:hover {
    background-color: black;
    border-color: black;
    color: #fff; }

.btn-white {
  background-color: #fff;
  border-color: #fff;
  color: #000; }
  .btn-white:hover {
    background-color: #d9d9d9;
    border-color: #bfbfbf;
    color: #000; }

.card {
  margin: 2rem 0;
  border: 1px solid black;
  max-width: 380px;
  transition: all 300ms; }

.card-header {
  padding: 1rem;
  font-weight: bold;
  background-color: blue;
  color: white; }

.card-body {
  padding: 1rem; }

.card-footer {
  padding: 1rem;
  background-color: #ddd; }

input {
  font-size: 16px;
  border: 1px solid black;
  background: #eee;
  padding: 6px 12px; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

li {
  padding: 0.25rem 0;
  border-bottom: 1px dashed black; }

.bg-main {
  background-color: blue !important; }

.text-main {
  color: blue !important; }

.text-white {
  color: white !important; }

body {
  padding: 0 4rem;
  font-size: 16px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: blue; }

hr {
  margin: 34px 0; }
