@import 'vars';
@import 'functions';

button {
  font-size: $fontsize;
  border: $bordersize solid $color;
  background: $color;
  padding: $padding;
  color: color-contrast($color);
}

@each $name, $value in $colors {
  .btn-#{$name} {
    background-color: $value;
    border-color: $value;
    color: color-contrast($value);
  }
}

.btn-a {
  border-color: $color;
}